#navBar {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 5px; }

#header {
  background-color: white;
  padding: 0px;
  width: 100%; }

#subreddit {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px; }

#search {
  display: flex;
  justify-content: flex-start; }
  #search #searchButton {
    display: flex;
    font-size: 20px;
    margin: 10px; }
  #search #searchButton:hover {
    cursor: pointer; }
  #search #searchBar {
    display: flex;
    font-size: 20px;
    margin: 10px; }

.navButton:hover {
  cursor: pointer; }

#homepage {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  background-color: main;
  justify-content: center; }
  #homepage .frameContent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: main;
    width: 600px;
    height: 300px;
    border: 1px black solid;
    margin: 40px;
    background-color: white; }
    #homepage .frameContent .titleContent {
      display: flex;
      justify-content: center;
      padding: 10px; }
    #homepage .frameContent .titleContent:hover {
      cursor: pointer; }
    #homepage .frameContent .thumbnailContent {
      display: flex;
      align-items: center;
      border: black solid 1px;
      margin-top: 5px; }
    #homepage .frameContent .thumbnailContent:hover {
      cursor: pointer; }

.navButton {
  background-color: black;
  color: white;
  height: 75px;
  width: 175px; }

#footer {
  height: 20px;
  background: white; }

body {
  background: url(/assets/bg.jpg); }
