#navBar {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 5px; }

#homepage {
  background-color: blue; }

body {
  background: url(/assets/bg.jpg); }
