#homepage{
  background-color: main;
}

.frameContent{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: main;
  padding: 10px;
}

.titleContent{
  padding: 10px;
}
